/* fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
/* tags */
body {
    margin: 0%;

    font-family: 'Source Sans Pro', sans-serif;
}

body#mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    max-width: 100vw;

    height: 100vh;
    max-height: 100vh;

    overflow: hidden;
}

body#hostScreen {
    display: grid;
    grid-template-rows: [board-area-start] 50% [player-area-start game-area-end] 50%;

    width: 100vw;
    max-width: 100vw;

    height: 100vh;
    max-height: 100vh;

    overflow: hidden;
}

/* classes */
.mainMenuButton {
    width: 50vw;
    padding: 0.5em 0;

    border: thin solid transparent;
    border-radius: 0.5rem;
    
    background-color: black;

    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.boardArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    grid-row: board-area-start / span 1;
}

.boardArea > .startupHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boardArea > .startupHolder > * {
    margin: 0.25em 0;
}

.boardArea > .startupHolder > .buttonHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boardArea > .startupHolder > .buttonHolder > button {
    margin: 0 0.25em;
    padding: 0.75em;

    border: thin solid transparent;
    border-radius: 0.5rem;

    font-size: 1rem;
    color: white;

    background-color: black;
}

.playerArea {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    align-content: space-around;

    grid-row: player-area-start / span 1;
}

.playerArea .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 12.5vw;
}

.playerArea .player > .playerName {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;

    margin: 0.25em 0;
}

.playerArea .player > .iconHolder {
    display: flex;
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.playerArea .player > .iconHolder > .icon {
    display: none;
    position: absolute;
    left: 0;
    top: 0;

    object-fit: contain;
}

.playerArea .player > .iconHolder > .icon.unknown {
    display: block;
}

/* Ids */
#logo {
    width: 62.5vw;

    object-fit: contain;
}

/* media queries */