/* fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
/* tags */
body {

}

body#mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    max-width: 100vw;

    height: 100vh;
    max-height: 100vh;

    overflow: hidden;
}

body#hostScreen{
    display: grid;
    grid-template-rows: [board-area-start] 50% [player-area-start game-area-end] 50%;

    width: 100vw;
    max-width: 100vw;

    height: 100vh;
    max-height: 100vh;

    overflow: hidden;
}
/* classes */
.mainMenuButton {
    width: 50vw;
    padding: 0.5em 0;

    border: thin solid transparent;
    border-radius: 0.5rem;
    
    background-color: black;

    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;;
    color: white;
}
/* Ids */
#logo {
    width: 62.5vw;

    object-fit: contain;
}
/* media queries */